
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('cinema.jpg') %>);">
    <h1>
  <span id="banner-typed-text"></span>
    </h1>
</div>

<div class="container">

  <div class="d-flex space-between align-items-center justify-content-between">
    <h2 class="mt-5 mb-5">My Lists</h2>
      <button type="button" class="mt-4 p-3 btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal">
      <i class="fas fa-film "></i> Create a list
      </button>
  </div>

  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to list_path(list), class:'text-decoration-none' do %>
        <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)">
          <%= list.name %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- Modal -->
  <div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-body">
        <%= simple_form_for (@list) do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class:'btn btn-outline-primary w-100' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

