
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key %>');">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-stretch">
    <div class="cards">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card-movie mb-3">
          <%= image_tag bookmark.movie.poster_url %>
            <div class="card-movie-infos">
              <div>
            <h3><%= bookmark.movie.title %></h3>
            <p><%= bookmark.movie.rating %></p>
            <p><%= bookmark.movie.overview %></p>
            <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" }, class: 'card-remove-link' do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
    </div>
  <% end %>
  </div>
<div class ="form">
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.button :submit, class:"btn btn-primary" %>
<% end %>
</div>
</div>

